@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
    font: normal normal 1em 'Arial';
    text-decoration: none;
    color: white;
}
body{
    display: flex;
    flex-direction: row;
}
#header{
    display: flex;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.973);

    left: -5em;
    width: 5vw;
    height: 100vh;
    transform: translateX(0);
    transition: transform 1s;
}
#header:hover{
    transform: translateX(4em);
    transition: transform 1s;
}
.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: 70%;
}
.header-icons{
    display: flex;
    place-items: center;
    justify-content: center;

    width: 100%;
    height: 15%;
}
.material-symbols-outlined{
    font-size: 35px;
}
/*------------Header------------*/
#main{
    background-image: linear-gradient(180deg, rgb(70, 70, 255), rgb(70, 70, 255));
    width: 100vw;
    height: 100vh;
}