@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font: normal normal 1em 'Arial';
    text-decoration: none;
}
a{
    color: white;
}
body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 99vw;
}
#header{
    display: flex;
    position: absolute;
    place-items: center;
    background-color: rgba(24, 24, 24, 0.800);
    border-radius: 0px 20px 20px 0px;

    width: 6%;
    height: 100vh;
    z-index: 1;
    transform: translateX(-4.5em);
    transition: transform 2s;
}
#header:hover{
    transform: translateX(0);
    transition: transform 1.5s;
}
.header-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: 70%;
}
.header-icons{
    display: flex;
    place-items: center;
    justify-content: center;

    width: 100%;
    height: 15%;
}
.header-icons span:hover{
    color: rgb(255, 0, 0);
}
.material-symbols-outlined{
    font-size: 35px;
}
/*------------Header------------*/
#main{
    display: flex;
    flex-direction: column;

    width: 99.2vw;
    height: 100vh;
}
#special-offer{
    position: relative;
    height: 100%;
}
#special-offer img{
    opacity: 0;
    transition: opacity 1200ms;

    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#special-offer .main-image{
    opacity: 1;
}
.text-offer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    width: 100%;
    height: 100%;
}
.text-offer h1{
    font: normal bold 4em 'Inter', sans-serif;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.418);
    text-transform: uppercase;
    color: white;
    top: 80%;
    
    position: absolute;
    z-index: 1;
}
/*------------main 1-------------*/
#main-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 80px;
}
#secondary-offers{
    color: rgb(0, 0, 0);
    
    display: flex;
    width: 65vw;
    height: 80vh;
}
.offer-1, .offer-2{
    justify-content: space-between;
    width: 50%;
}
.offer-1{
    background: url("../imagens/Eletric/Carregador-de-Carro-Elétrico-01.webp") no-repeat center right 40%;
    background-size: cover;

    border-radius: 10px 0px 0px 10px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.300);
}
.offer-2{
    background-color: rgba(15, 15, 15, 0.010);
}
.offer-2 p{
    font: normal normal 2.2em 'Inter', sans-serif;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.300);
    line-height: 1.4em;
    padding: 0px 40px;
    text-align: start;
}
.offer-2 a h3{
    font: normal normal 2.2em 'Inter', sans-serif;
    margin-top: 4em;
    text-align: center;
    color: black;
}
.offer-2 h3:hover{
    color: red;
}
/*------------main 2-------------*/
#main-3{
    display: flex;
    flex-direction: column;

    border: 1px solid red;
    height: 100vh;
}